html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Baloo 2';
}

/* SCROLL BAR */
* {
    scrollbar-color: #4E4E4E #202225;
    scrollbar-width: thin;
    user-select: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #4E4E4E;
}

::-webkit-scrollbar-thumb {
    background: #202225;
}

::-webkit-scrollbar-thumb:hover {
    background: #99a3ac;
}

.wrapper {
    overflow: hidden;
}


.wrapper {
    background-color: #FFEFA7;
    transition: 0.4s;
}

.section {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 100vh;
}

.center-section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.left, .right {
    width: 17%;
}

.wrapper .line-toggle {
    border-color: whitesmoke;
}

.wrapper .line-toggle-bg {
    background-color: whitesmoke;
}

.left-line {
    min-width: 5px;
    height: 100%;
    background-color: #3B3C36;
    position: absolute;
    left: 50px;
}

.line-mark {
    position: absolute;
    width: 50px;
    height: 5px;
    top: 10px; left: 27px;
    background-color: whitesmoke;
}

.top-line {
    background-color: #3B3C36;
    position: absolute;
    width: 100vw;
    min-height: 5px;
    top: 40px;
    left: 0;
}

.left {
    display: flex;
    justify-content: center;
    position: relative;
}

.text {
    font-family: 'smile_of_the_ocean';
    font-size: 8rem;
    text-align: center;
}

.quill {
    position: absolute;
    right: 0px;
    bottom: 0;
    height: auto;
    width: 250px;
    transition: 0.4s;
}

.newQuill {
    position: fixed;
}

.quill svg {
    width: 100%;
    height: auto;
}

.rizal-pic {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 360px;
}

.rizal-pic img {
    width: 100%;
}

.scroll-down-icon {
    position: absolute;
    bottom: 0;
}

.scroll-down-icon .circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid #3B3C36;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-family: 'altero';
    color: #3B3C36;
}

.scroll-down-icon .line {
    height: 50px;
    width: 3px;
    background-color: #3B3C36;
    margin: auto;
}

.short-intro2 {
    border-top: 5px solid #3B3C36;
    height: auto;
}

.short-intro2 .center-section {
    position: relative;
    width: 100%;
}

/* BOARD */
.board-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.board-container .line-connector {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.line-connector .line {
    background-color: #3B3C36;
    width: 3px;
}

.board-container .board {
    width: 50%;
    border: 4px solid #3B3C36;
    margin: auto;
    padding: 2rem;
}

.board .header {
    font-family: 'altero';
    font-size: 3rem;
}

.board .desc {
    font-family: 'Baloo 2';
    font-size: 1rem;
}

.light-bulb-container {
    position: absolute;
    left: 0; top: 0;
}

.light-bulb-container svg {
    width: 100%;
    height: auto;
}

/* ACHIEVEMENTS */
.achievements {
    width: 100%;
    margin: 0px auto;
    margin-top: 100px;
}

.achievements .header {
    font-family: 'altero';
    font-size: 3rem;
}

.card-container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.col1 {
    width: 100%;
}

.card {    
    margin: 20px;
    padding: 15px;
    display: flex;
}

.card .icon-img img {
    margin-top: 5px;
    width: auto;
    height: 100px;
    border-radius: 50%;
}

.card .icon-img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.card .card-content {
    width: 100%;
}

.card .card-content .title {
    font-family: 'altero';
    font-size: 1.5em
}

.card .card-content .desc {
    font-size: 1em;
    font-family: 'Baloo 2';
}

/* TRANSITION */
.transition .text-header {
    font-family: 'altero';
    font-size: 3rem;
    margin: 150px 0;
    width: 80%;;
}

.transition .center-section {
    margin: 20% 0px;
    margin-bottom: 0px;
}

.transition .left-text {
    text-align: left;
    float: left;
}

.transition .right-text {
    text-align: right;
    float: right;
}

/* TWITTER */

.tweets-content {
    width: 100%;
}

.tweets-container .tweet {
    margin-top: 100px;

}

.twitter .tweets-container {
    display:flex;
    justify-content: center;
}

.section-header {
    font-size: 3rem;
    font-family: 'altero';
    width: 100%;
}

/* TIKTOK */
.tiktok-container {
    width: 100%;
}

.tiktok-main {
    display: flex;
    justify-content: center;
    margin: 75px 25px;
}

.tiktok-main .main-left,
.tiktok-main .main-right {
    width: 33%;
    position: relative;
}

.tiktok .video-container {
    padding: 25px;
    padding-bottom: 15px;
    background-color: #1E1E1B;
    border-radius: 20px;
    width: 300px;
}

.tiktok .video-foreground video {
    width: 100%;
    height: auto;
}

.tiktok .video-foreground {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.tiktok .video-container .controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    background-color: #11110F;

    display: flex;    
}

.controls .btn {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiktok .circle-btn-container {
    padding-top: 15px;
}

.tiktok .circle-btn {
    border-radius: 50%;
    background-color: #414141;
    min-height: 50px;
    width: 50px;
    margin: auto;
}

.tiktok-main .text-container {
    padding: 0px 35px;
    position:relative;
}

.text-container.bottom {
    position:absolute;
    bottom: 0;
}

/* YOUTUBE */
.youtube .center-section {
    align-items: initial;
    display: initial;
}

.youtube .youtube-main {
    margin:auto;
    margin-top: 25px;
    background-color: rgba(255, 0, 0, 0.2);
    width: 80%;
}

.youtube .header {
    height: 60px;
    margin-bottom: 100px;
    background-color: #202020;
}

.youtube .header .menu svg {
    float: left;
}

.youtube .header .icon,
.youtube .header .menu {
    float: left;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

.youtube-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.youtube-content .left {
    width: 20%
}

.youtube-content .center {
    width: 40%
}

.youtube-content .right {
    width: 40%
}

.video-foreground video {
    width: 100%;
    height: auto;
}

.video-foreground {
    width: 100%;
}

/* STREAMING */
.stream-content {
    display: flex;
    justify-content: center;
}

.streaming-container {
    display: flex;
    width: 80%;
}

.stream .video-foreground video {
    width: 100%;
    height: auto;
}

.stream-chat {
    width: 20%;
    background-color: #18181B;
    padding: 15px;
}

.stream-desc {
    height: 10%;
    width: 100%;
    position: relative;
}

.stream-desc .desc-svg {
    width: 80%
}

.stream-main .text-container div {
    width: 80%;
    margin: 25px 0px;
}

.stream .video-container {
    padding: 20px;
    width: 80%;
}

.stream .live-svg {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
}

/* DIVIDER */
.section-cut {
    display: flex;
}

.section-cut .box {
    margin-left: 50px;
    width: 75px;
    height: 75px;
    border-left: 5px solid whitesmoke;
    border-bottom: 5px solid whitesmoke;
    border-bottom-left-radius: 50%;
}

.section-cut .longer-box {
    width: 100%;
    height: 75px;
    border-bottom: 5px solid whitesmoke;
}

/* FOOTER */
.footer {
    margin: 100px 0;
    display: flex;
    justify-content: center;
}

.footer  .header {
    font-family: 'altero';
    font-size: 3rem;
    text-align: center;
}

.footer .content {
    width: 80%;
}

@media only screen and (max-width: 1000px) {
    .quill {
        bottom: 0; right: 0; top: auto;
        height: auto;
        width: 75px;
    }

    .right {
        display: none;
    }

    .board-container .board {
        border: 4px solid #3B3C36;
        margin: auto;
        width: 70%;
    }

    .transition .text-header {
        font-family: 'altero';
        font-size: 2.5rem;
        margin: 150px 20px;
        width: 80%;;
    }

    .tiktok .circle-btn {
        min-height: 30px;
        width: 30px;
    }
  }

@media only screen and (max-width: 760px) {
    .light-bulb-container {
        display: none;
    }

    .left, .right {
        display: none;
    }

    .board-container .board {
        width: 80%;
    }

    .rizal-pic {
        height: auto;
        width: 40%;
        overflow: hidden;
        margin-bottom: -5px;
    }

    .short-intro .text {
        font-size: 5rem;
        padding: 0px 25px;
    }

    .card .icon-img img {
        width: 50px;
        height: 50px;
    }

    .achievements .header {
        font-size: 2.2rem;
        text-align: center;
    }

    .section-header {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 20px;
    }

    .tweets {
        margin: 0px 25px;

    }

    .tweets .tweet svg {
        width: 100%;
    }

    .tiktok-main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 25px 25px;
    }

    .tiktok-main .main-left, 
    .tiktok-main .main-right {
        width: 100%;
        margin: 25px 0px;
    }

    .tiktok .video-container {
        margin: auto;
    }

    .text-container.bottom {
        position:initial ;
    }

    .stream-main {
        margin: 25px;
    }
    
    .stream-chat {
        display:none;
    }

    .stream .video-container {
        width: 100%;
        margin-top: 35px;
        padding: 0;
    }

    .stream .streaming-container {
        width: 100%;
    }

    .section-cut .box {
        display: none;
    }
  }

  @media only screen and (max-width: 500px) {   
    .card .icon-img {
        display: none;
    }

    .transition .text-header {
        font-size: 1.5rem;
        margin: 50px 20px;
    }

    .card-content {
        font-size: .8rem;
    }

    .card {    
        margin: 5px;
        padding: 0px;
        display: flex;
    }
    
    .section-header {
        font-size: 1.5rem;
        text-align: center;
    }

    .tiktok .video-container {
        padding: 0;
        width: 100%;
        background-color: transparent;
    }   

    .tiktok-main .text-container {
        padding: 0px;
    }
    
  }